[submodule "src/chrome/lib/js/vendor/gmailr"]
	path = src/chrome/lib/js/vendor/gmailr
	url = git@github.com:mwildehahn/gmailr.git
[submodule "src/chrome/lib/js/vendor/gmailui"]
	path = src/chrome/lib/js/vendor/gmailui
	url = git@github.com:mwildehahn/gmailui.git
