<tbody>
    <tr class="hY hM">
        <td class="ht hM"></td>
        <td class="hU hM" style="background-color: rgb(73, 134, 231); color: rgb(255, 255, 255);"></td>
        <td class="hS hM" style="background-color: #4986e7"></td>
        <td class="hV hM" style="background-color: #4986e7"></td>
        <td class="hW hM"></td>
    </tr>
    <tr class="hR">
        <td class="hT hU hM" style="background-color: rgb(73, 134, 231); color: rgb(255, 255, 255);"></td>
        <td class="hU hM" style="background-color: rgb(73, 134, 231); color: rgb(255, 255, 255);">
            <div class="hN" name="<%- name %>" title="Jarvis Tag: <%- name %>" role="button" tabindex="0">#<%- name %></div>
        </td>
        <td class="hS hM" style="background-color: #ffffff"></td>
        <td class="hV hM" style="background-color: rgb(73, 134, 231); color: rgb(255, 255, 255);">
            <span class="hO" name="<%- name %>" title="Remove Jarvis Tag: <%- name %>" role="button" tabindex="0">x</span>
        </td>
        <td class="hW hV hM" style="background-color: rgb(73, 134, 231); color: rgb(255, 255, 255);"></td>
    </tr>
    <tr class="hY hM">
        <td class="ht hM"></td>
        <td class="hU hM" style="background-color: rgb(73, 134, 231); color: rgb(255, 255, 255);"></td>
        <td class="hS hM" style="background-color: #4986e7"></td>
        <td class="hV hM" style="background-color: #4986e7"></td>
        <td class="hW hM"></td>
    </tr>
</tbody>
